workflows/Accounting_Records_v3___1__Orquestador.json
{
  "createdAt": "2024-10-23T14:22:21.609Z",
  "updatedAt": "2025-06-18T18:27:03.291Z",
  "id": "FQgSffh4Sq0Pyh2n",
  "name": "Accounting Records v3 - 1. Orquestador",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "resource": "folder",
        "operation": "search",
        "query": "Invoices"
      },
      "id": "cec08ca3-5ec4-4c79-bca2-11c62aa1a004",
      "name": "Microsoft OneDrive1",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        680,
        1640
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "VuffFQLziQK9I5pc",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.appintegria.com/webhook/723886f9-f152-4182-b775-201b52833438",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Items",
              "value": "={{ $('Invoice Items').item.json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5aaa127e-a3da-4f89-9337-5d71efb9048b",
      "name": "ReteFuente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        1240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.appintegria.com/webhook/b3a8d8ae-7ffa-4b3d-b504-2d86d751281c",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "File ID & Type",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3c67bd16-f42a-48e1-88fc-e04a5c7e4022",
      "name": "Invoice Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        900
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "allFieldsExcept",
        "fieldsToExclude": "ReteFuente_ExpenseType, ReteFuente_Type, ReteFuente_Concept, ReteFuente_Tariff, ReteFuente_Value",
        "options": {}
      },
      "id": "9becdce9-7cbb-4e5b-8d04-90dc142eeacb",
      "name": "Invoice Items",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2160,
        900
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "ab453583-a4b7-42ea-9e28-3e19ad10f037",
      "name": "Items ReteFuente",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2320,
        1220
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "folderId": "01PHCLF5GSSTYCRT6MRNA3L2W7QU3UPEA5"
      },
      "id": "e4982135-3696-4a50-bf2e-3d1576ae488b",
      "name": "Invoices List",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        840,
        880
      ],
      "executeOnce": true,
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "VuffFQLziQK9I5pc",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "addTable",
        "workbook": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "worksheet": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "393b0c01-f37c-4d7b-be3e-a8e54fb6a15c",
      "name": "Microsoft Excel 365",
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.1,
      "position": [
        1020,
        1640
      ],
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "RdWQiCkLyjhP02OR",
          "name": "Microsoft Excel account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf1bc34b-3631-443f-a41a-55894a638173",
              "name": "Invoice_uuid",
              "value": "={{ $item(0).$node['Invoice Data'].json[\"Invoice_uuid\"] }}\n\n",
              "type": "string"
            },
            {
              "id": "3bb4e31f-a461-4ff4-8034-89185ca2eb99",
              "name": "id",
              "value": "={{ $item(0).$node['Invoice Data'].json[\"Fileid\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ca349a4f-073e-45e7-a2ee-2632a129fd47",
      "name": "Invoices_uuid",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2600,
        860
      ]
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "f67a181c-f2e3-4ad5-9a43-70ebbf86f1a6",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1060,
        880
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f67ea504-3478-4ce8-92fe-419efc8e9f71",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "f9eccb39-7fe0-47b0-9d4e-fdf89302be82",
              "name": "mimeType",
              "value": "={{ $json.file.mimeType }}",
              "type": "string"
            },
            {
              "id": "49674eee-32a4-4e4d-bea5-b91ad1973282",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "de95fef8-96ea-4bc2-928e-4dd4fa6eb9fe",
      "name": "File ID & Type",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1300,
        900
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "c58b7516-f4e7-4e2c-aa7b-91ba290626b4",
      "name": "File IDs",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1520,
        900
      ]
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": "={{ $('Remove Duplicates').item.json.File_Id}}",
        "additionalFields": {},
        "parentReference": {
          "id": "01PHCLF5FWPVUM3R2EO5AZ2EPGXFADQHNW"
        }
      },
      "id": "12f15245-ba6e-4b20-8908-24858106e34a",
      "name": "Move to Extracted",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        1960,
        640
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "VuffFQLziQK9I5pc",
          "name": "Microsoft Drive account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "delete",
        "fileId": "={{ $('Remove Duplicates').item.json.File_Id}}"
      },
      "id": "107739ca-f544-4e5a-9acd-a5669e0eec3d",
      "name": "Move - Del",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        2200,
        660
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "VuffFQLziQK9I5pc",
          "name": "Microsoft Drive account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "File_Id",
        "options": {}
      },
      "id": "07e4cc6a-d43f-4db6-b22a-9c8581f203d7",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1520,
        640
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a612f009-f12a-452d-bdd8-8b19e809a366",
              "name": "NIT",
              "value": "={{ $json.NIT }}",
              "type": "number"
            },
            {
              "id": "cd02c156-9e13-4d23-afd6-751afe3b198b",
              "name": "Compañia",
              "value": "={{ $json['Compañia'] }}",
              "type": "string"
            },
            {
              "id": "3941a443-bac1-430b-bfb6-4be03df2e551",
              "name": "No Factura",
              "value": "={{ $json['No Factura'] }}",
              "type": "string"
            },
            {
              "id": "65bba895-d59d-4435-9744-9aadf03d2ae2",
              "name": "IssueDate",
              "value": "={{ $json.IssueDate }}",
              "type": "string"
            },
            {
              "id": "64a3113e-d889-41b0-96d9-5249030be8ce",
              "name": "NIT Proveedor",
              "value": "={{ $json['NIT Proveedor'] }}",
              "type": "number"
            },
            {
              "id": "1728aa54-175f-4500-b93f-113131eac471",
              "name": "Proveedor",
              "value": "={{ $json.Proveedor }}",
              "type": "string"
            },
            {
              "id": "d70e0606-825d-482c-aa15-266c532b9c8a",
              "name": "Descripción Factura",
              "value": "={{ $json['Descripción Factura'] }}",
              "type": "string"
            },
            {
              "id": "af476ebf-055a-4ef2-a89a-56f7f62a89b4",
              "name": "Valor Antes Impuestos",
              "value": "={{ $json['Valor Antes Impuestos'] }}",
              "type": "number"
            },
            {
              "id": "395a7ca1-53b2-46d5-a499-493dae413365",
              "name": "CUFE",
              "value": "={{ $json.CUFE }}",
              "type": "string"
            },
            {
              "id": "cbe473af-c6e7-42ff-b32f-a4170e3047a4",
              "name": "File_Id",
              "value": "={{ $json.File_Id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "296c98e7-bc6d-4c67-9d64-89dfa11d136a",
      "name": "Resumen Ejecución",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1300,
        640
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "operation": "search",
        "query": "Extracted"
      },
      "id": "dc705248-5dff-4f56-8057-d228021a1af3",
      "name": "Microsoft OneDrive",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        860,
        1640
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "VuffFQLziQK9I5pc",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {},
      "id": "297295b6-7c1d-421c-8ace-8f57eada180f",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        600,
        880
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6f94247c-8c56-4e18-a261-42e9b1da11b7",
      "name": "Remove Duplicates1",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1060,
        1220
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "80560d48-121d-468f-b103-7401600b9008",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1960,
        1220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.appintegria.com/webhook/6d1fa5eb-4272-4b76-9155-24b0da992ffc",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Invoice_uuid",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d15168f7-363c-4034-a252-0961cae9cfe9",
      "name": "Clasificación Cuentas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2500,
        1220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.appintegria.com/webhook/47b5e880-773a-4ae0-ab0a-1fe51c081b29",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "Items",
              "value": "={{ $('Invoice Items').item.json.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1ccfea72-99cd-4c4b-8697-ccbf7dac0439",
      "name": "ReteICA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        1240
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json.data;  // Access the array inside \"data\"\n\n// Create a Map to store unique Invoice_uuid values\nconst invoiceMap = new Map();\n\ndata.forEach(entry => {\n    const invoiceId = entry.Invoice_uuid;\n    if (!invoiceMap.has(invoiceId)) {\n        invoiceMap.set(invoiceId, invoiceId);  // Store as key:value pair\n    }\n});\n\n// Convert Map to an array of objects\nreturn Array.from(invoiceMap, ([key, value]) => ({ json: { Invoice_uuid: key } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2140,
        1220
      ],
      "id": "38fabd12-68fe-4b60-84a6-264e68c00aac",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "const data = $json[\"choices[0].message.content\"];\nif (!data || !data.CUFE || !data.ParentDocumentID) {\n  return []; // Evita pasar data inválida al siguiente nodo\n}\nreturn [{ json: data }];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2420,
        860
      ],
      "id": "80f79704-d708-4d77-8718-9f586a1fb989",
      "name": "Code1"
    }
  ],
  "connections": {
    "Invoice Data": {
      "main": [
        [
          {
            "node": "Invoice Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoices List": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoices_uuid": {
      "main": [
        []
      ]
    },
    "Items ReteFuente": {
      "main": [
        [
          {
            "node": "Clasificación Cuentas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Resumen Ejecución",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File ID & Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoice Items": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "ReteFuente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File IDs": {
      "main": [
        [
          {
            "node": "Invoice Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File ID & Type": {
      "main": [
        [
          {
            "node": "File IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to Extracted": {
      "main": [
        [
          {
            "node": "Move - Del",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumen Ejecución": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Invoices List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft OneDrive1": {
      "main": [
        [
          {
            "node": "Microsoft OneDrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft OneDrive": {
      "main": [
        [
          {
            "node": "Microsoft Excel 365",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificación Cuentas": {
      "main": [
        [
          {
            "node": "Remove Duplicates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Move to Extracted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ReteFuente": {
      "main": [
        [
          {
            "node": "ReteICA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Items ReteFuente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ReteICA": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Bogota",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Move to Extracted": [
      {
        "json": {
          "location": "https://kryptocolombia-my.sharepoint.com/personal/edgar_caballero_krypto_com_co/_api/v2.1/drive/operations/74c70b87-99ac-4be6-890c-12d386e4b08d?c=bllVSlVoemdQQ3VVblp3bjBnRFJtK1FYbng5dHRYMUhDbmdMRDIwK1k1WT0jaHR0cHM6Ly9zcG9ibHhzYXRtMDM4cHIucXVldWUuY29yZS53aW5kb3dzLm5ldC8yLTQ3MzAtMjAyNTAzMjUtZjZkOGFkYmFhZWMyNDkxYmEwNTA1OTlkNWJjYzViZjk_c3Y9MjAxOC0wMy0yOCZzaWc9c05uWmdlYkdqWXhVJTJCV0N5dzNuQkZkdjZqZ29wNE5wVklhRUppZUJPV1UwJTNEJnN0PTIwMjUtMDMtMDNUMDAlM0EwMCUzQTAwWiZzZT0yMDI1LTAzLTI1VDAwJTNBMDAlM0EwMFomc3A9cmFw&v=2.0&tempauth=v1.eyJzaXRlaWQiOiIwYzliNzU4Ni1iYmNlLTQ2YjktYjcyYi01NGJiM2Q4MDIxMTgiLCJhcHBfZGlzcGxheW5hbWUiOiJGbHVqb244biIsImFwcGlkIjoiMjkyZjk4N2ItNzIyZi00OWI1LTk2MjItODg0YWI0MzI4N2M1IiwiYXVkIjoiMDAwMDAwMDMtMDAwMC0wZmYxLWNlMDAtMDAwMDAwMDAwMDAwL2tyeXB0b2NvbG9tYmlhLW15LnNoYXJlcG9pbnQuY29tQGExNzdhZTc5LTE5ODQtNDYzMy05N2MyLWRiOTkwZjI4ZmVlZiIsImV4cCI6IjE3NDExOTM3NTMifQ.CgoKBHNuaWQSAjY3EgsI6MGO0O7R7T0QBRoOMjAuMTkwLjE1MS4xMDAqLHJaKzl0MFlSNGp5TGxxcThoN3Y0cTVHdDBnTjlRRndsbE9wUnRBNWJHYU09MIAEOAFCEKGHRCq_IACAIEwqfxeZapRKEGhhc2hlZHByb29mdG9rZW5SCFsia21zaSJdcikwaC5mfG1lbWJlcnNoaXB8MTAwMzNmZmY5OTY1NDI2NEBsaXZlLmNvbXoBMoIBEgl5rnehhBkzRhGXwtuZDyj-76IBHWVkZ2FyLmNhYmFsbGVyb0BrcnlwdG8uY29tLmNvqgEQMTAwMzNGRkY5OTY1NDI2NLIBd215ZmlsZXMucmVhZCBhbGxmaWxlcy5yZWFkIG15ZmlsZXMud3JpdGUgYWxsZmlsZXMud3JpdGUgbXlhcHBmb2xkZXIud3JpdGUgYWxsc2l0ZXMucmVhZCBhbGxzaXRlcy53cml0ZSBhbGxwcm9maWxlcy5yZWFkyAEB.4HFvlQOG6QqRfh3nL7jdThzCFtOFUu4imCvKd8ZLk9M"
        }
      }
    ],
    "Move - Del": [
      {
        "json": {
          "success": true
        }
      }
    ],
    "Remove Duplicates": [
      {
        "json": {
          "NIT": 901481071,
          "Compañia": "KHARONTE SAS",
          "No Factura": "UE8747",
          "IssueDate": "2025-02-13",
          "NIT Proveedor": 900965154,
          "Proveedor": "DS SYSTEM SAS",
          "Descripción Factura": "Compra de componentes de tecnología, incluyendo un SSD y memoria RAM.",
          "Valor Antes Impuestos": 195252,
          "CUFE": null,
          "File_Id": "01PHCLF5CYKLBKWBJNRVBZBXZYKAPRYDOG"
        }
      }
    ],
    "Resumen Ejecución": [
      {
        "json": {
          "NIT": 901481071,
          "Compañia": "KHARONTE SAS",
          "No Factura": "UE8747",
          "IssueDate": "2025-02-13",
          "NIT Proveedor": 900965154,
          "Proveedor": "DS SYSTEM SAS",
          "Descripción Factura": "Compra de componentes de tecnología, incluyendo un SSD y memoria RAM.",
          "Valor Antes Impuestos": 195252,
          "CUFE": null,
          "File_Id": "01PHCLF5CYKLBKWBJNRVBZBXZYKAPRYDOG"
        }
      }
    ]
  },
  "versionId": "14db9336-d79a-45ba-8ecc-d9ae86c2c8b4",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-02-04T13:55:27.606Z",
      "updatedAt": "2025-02-04T13:55:27.606Z",
      "id": "sFbVSiMOCzwy8ZoJ",
      "name": "Causacion"
    }
  ]
}