workflows/Accounting_Records.json
{
  "createdAt": "2024-09-24T23:42:12.558Z",
  "updatedAt": "2024-09-24T23:42:12.558Z",
  "id": "fvUdS17Goa1MQH1b",
  "name": "Accounting Records",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "3aa5131a-8246-408f-93a2-d1b33434776b",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3820,
        1060
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appxDB6mSqj7XDzIC",
          "mode": "list",
          "cachedResultName": "InvoiceData",
          "cachedResultUrl": "https://airtable.com/appxDB6mSqj7XDzIC"
        },
        "table": {
          "__rl": true,
          "value": "tblPHIUqpr9gmLfZJ",
          "mode": "list",
          "cachedResultName": "AIModels_Prompts",
          "cachedResultUrl": "https://airtable.com/appxDB6mSqj7XDzIC/tblPHIUqpr9gmLfZJ"
        },
        "options": {},
        "sort": {
          "property": [
            {
              "field": "ID"
            }
          ]
        }
      },
      "id": "9db50e59-698b-4fda-ae83-dc75ee49b60a",
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -3620,
        1060
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "={{ $json.ActualModel }}\n\n{{ $json.SystemPrompt }}\n\n{{ $json.UserPrompt_1 }}\n\n{{ $json.UserPrompt_2 }}\n\n{{ $json.UserPrompt_3 }}\n\n{{ $json.UserPrompt_4 }}",
        "options": {}
      },
      "id": "d26d75a4-75e7-4e27-b97a-338a44f2a292",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -3420,
        1060
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cb8215b3-b748-49ae-a7cb-1321694fb6bb",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "xml",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "id": "fad4cd1a-f779-4903-86ee-1b99e611c032",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -2760,
        1080
      ]
    },
    {
      "parameters": {
        "operation": "xml",
        "options": {}
      },
      "id": "373ac029-8450-47aa-ac27-cfc24a51fc86",
      "name": "XML Data",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -2340,
        980
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "62b9fb0d-61e3-467d-a055-83268d8309f9",
      "name": "Get Files / XML",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2560,
        980
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b5db9061-d7ff-4482-98f9-f0c3ac0c4a18",
              "name": "choices[0].message.content",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "e40172e4-a324-42f2-bfc7-c11d87d327e1",
      "name": "Invoice Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1900,
        880
      ]
    },
    {
      "parameters": {
        "jsCode": "// Function to remove null values from an object\nconst removeNulls = (obj) => {\n  for (const key in obj) {\n    if (obj[key] === null) {\n      delete obj[key];\n    }\n  }\n  return obj;\n};\n\n// Apply the function to each item in the 'items' array provided by n8n\nreturn items.map(item => {\n  const cleanedData = removeNulls(item.json);\n  return {\n    json: cleanedData\n  };\n});"
      },
      "id": "041b09d3-8a86-4037-8c15-fc2d6938103f",
      "name": "Clean JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1460,
        780
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "27e0e947-d1f0-4bc4-af43-d339c3f4ec53",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -3000,
        1060
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed8075af-6738-468a-8ac4-806e0e652911",
              "name": "choices[0].message.content",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "a0370b63-800e-47a2-886c-96dd8903b321",
      "name": "Description",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        660
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6e73f4bb-83d9-4e82-a329-a2ce9a2e869c",
              "name": "InvoiceData",
              "value": "={{ $('Invoice Data').item.json.choices[0].message.content }}",
              "type": "object"
            },
            {
              "id": "a40922ae-c963-4382-8820-687a45c13d04",
              "name": "TokenIn",
              "value": "={{ parseInt($('Invoice Data Extraction').item.json.usage.prompt_tokens) + parseInt($('Invoice Description').item.json.usage.prompt_tokens) }}\n",
              "type": "number"
            },
            {
              "id": "b497f24b-3185-4ae2-8fb4-8e1e9cf60898",
              "name": "TokenOut",
              "value": "={{ parseInt($('Invoice Data Extraction').item.json.usage.completion_tokens) + parseInt($('Invoice Description').item.json.usage.completion_tokens) }}",
              "type": "number"
            },
            {
              "id": "66352388-d909-4b38-ade0-fe401a99db61",
              "name": "Invoice_Description",
              "value": "={{ $('Invoice Description').item.json.choices[0].message.content }}",
              "type": "object"
            },
            {
              "id": "be7d8fd4-d3b2-4356-badc-74b11913790f",
              "name": "Account_Classification",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "object"
            },
            {
              "id": "118dbb9d-5823-4352-9879-e87fa70a1585",
              "name": "TokenIn2",
              "value": "={{ $json.usage.prompt_tokens }}",
              "type": "number"
            },
            {
              "id": "0cba95bd-248a-432c-a607-f18a001f4a24",
              "name": "TokenOut2",
              "value": "={{ $json.usage.completion_tokens }}",
              "type": "number"
            },
            {
              "id": "0614b95b-d447-494a-83f8-ce32f96c035a",
              "name": "AI_Model",
              "value": "={{ $('Invoice Data Extraction').item.json.model }}",
              "type": "string"
            },
            {
              "id": "95c40cdf-af6d-499e-98ea-5f3c087e465e",
              "name": "AI_Model2",
              "value": "={{ $json.model }}",
              "type": "string"
            },
            {
              "id": "2ca64fba-8eee-4369-ac81-8cc354e09eb1",
              "name": "FileName",
              "value": "={{ $('Get Files / XML').item.json.name }}",
              "type": "string"
            },
            {
              "id": "5d48a1ba-9608-4e6e-ab29-021b6d3e63c8",
              "name": "FileFormat",
              "value": "={{ $('Get Files / XML').item.json.mimeType }}",
              "type": "string"
            },
            {
              "id": "64d8f754-c155-4ed1-ab74-088e5ff47e49",
              "name": "DataExtractionDate",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "34238d76-00c1-41b3-af43-4a6b57151a44",
              "name": "CUFE",
              "value": "={{ $('Invoice Data').item.json.choices[0].message.content.CUFE }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "32cc5601-ffc0-4672-9b8c-65f9cba4200a",
      "name": "All_Invoice_Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -140,
        560
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('List Files').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1o1Gd60RuWV_BDNGoaElP-FV2z8ERSMkw",
          "mode": "list",
          "cachedResultName": "Extracted",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1o1Gd60RuWV_BDNGoaElP-FV2z8ERSMkw"
        }
      },
      "id": "65203bf7-a43d-40f5-a18a-496ab0eb3d43",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        800,
        1420
      ]
    },
    {
      "parameters": {
        "tableId": "Invoices_n8n",
        "dataToSend": "autoMapInputData"
      },
      "id": "5ea41a7c-c474-4510-a73e-7f850f80270f",
      "name": "InvoiceDB",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        300,
        540
      ],
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('List Files').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "19cGASY6TsytZwJX9gloRQ0y-HJbUvaFY",
          "mode": "list",
          "cachedResultName": "Error",
          "cachedResultUrl": "https://drive.google.com/drive/folders/19cGASY6TsytZwJX9gloRQ0y-HJbUvaFY"
        }
      },
      "id": "55547bd4-98b1-4692-a10d-c1691891db76",
      "name": "Error Handling 1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2040,
        1420
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "VendorAccounts",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "ReceiverParty_CompanyID",
              "condition": "ilike",
              "keyValue": "={{ $('Invoice Data').item.json.choices[0].message.content.ReceiverParty_CompanyID }}"
            },
            {
              "keyName": "SenderParty_CompanyID",
              "condition": "like",
              "keyValue": "={{ $('Invoice Data').item.json.choices[0].message.content.SenderParty_CompanyID }}"
            }
          ]
        }
      },
      "id": "5b6834a9-6191-4d91-aaf7-e01490237acf",
      "name": "VendorAccounts",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1700,
        800
      ],
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "31fce415-158f-4f3a-95ab-abde72f17a66",
              "leftValue": "={{ $json.data[0] }}",
              "rightValue": "[empty]",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dc2e3f22-5596-4928-a62e-1e9baf39c8b4",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -1020,
        780
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('List Files').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "19cGASY6TsytZwJX9gloRQ0y-HJbUvaFY",
          "mode": "list",
          "cachedResultName": "Error",
          "cachedResultUrl": "https://drive.google.com/drive/folders/19cGASY6TsytZwJX9gloRQ0y-HJbUvaFY"
        }
      },
      "id": "340307b7-6eae-4224-8d07-e838143bd89c",
      "name": "Error Handling 7",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        380,
        1420
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('List Files').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "19cGASY6TsytZwJX9gloRQ0y-HJbUvaFY",
          "mode": "list",
          "cachedResultName": "Error",
          "cachedResultUrl": "https://drive.google.com/drive/folders/19cGASY6TsytZwJX9gloRQ0y-HJbUvaFY"
        }
      },
      "id": "be5be670-e4e8-4af6-8037-49d8bdbdc533",
      "name": "Error Handling 6",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        160,
        1420
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('List Files').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "19cGASY6TsytZwJX9gloRQ0y-HJbUvaFY",
          "mode": "list",
          "cachedResultName": "Error",
          "cachedResultUrl": "https://drive.google.com/drive/folders/19cGASY6TsytZwJX9gloRQ0y-HJbUvaFY"
        }
      },
      "id": "371f5c05-2a4b-4e00-9441-bea17bc82827",
      "name": "Error Handling  5",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -280,
        1420
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('List Files').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1aV25STJ_1QDcxK5MOA_gBRbsIduUyVh6",
          "mode": "list",
          "cachedResultName": "Error_Proveedor",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1aV25STJ_1QDcxK5MOA_gBRbsIduUyVh6"
        }
      },
      "id": "ad8a46c7-c79f-4027-9202-e6f56cf66f33",
      "name": "Error Handling  3",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -940,
        1420
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('List Files').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "19cGASY6TsytZwJX9gloRQ0y-HJbUvaFY",
          "mode": "list",
          "cachedResultName": "Error",
          "cachedResultUrl": "https://drive.google.com/drive/folders/19cGASY6TsytZwJX9gloRQ0y-HJbUvaFY"
        }
      },
      "id": "9eae6dea-5e21-4377-ac72-0f47e12720b7",
      "name": "Error Handling 4",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -760,
        1420
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('List Files').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1aV25STJ_1QDcxK5MOA_gBRbsIduUyVh6",
          "mode": "list",
          "cachedResultName": "Error_Proveedor",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1aV25STJ_1QDcxK5MOA_gBRbsIduUyVh6"
        }
      },
      "id": "f52e10e4-624e-4888-ac9e-c355700dd123",
      "name": "Error Handling 2",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1580,
        1420
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Access the data from All_Invoice_data node\nconst invoiceData = $json.InvoiceData;\nconst invoiceDescription = $json.Invoice_Description;\nconst accountClassification = $json.Account_Classification;\n\n// Check if InvoiceLine is an array or a string and handle accordingly\nlet invoiceLineDescription;\nif (Array.isArray(invoiceData.InvoiceLine)) {\n  // If it's an array, use .map() to concatenate descriptions\n  invoiceLineDescription = invoiceData.InvoiceLine.map(item => \n    `\\tDescription: ${item.Description}\\n\\tInvoicedQuantity: ${item.InvoicedQuantity}\\n\\tPriceAmount: ${item.PriceAmount}\\n\\tLineExtensionAmount: ${item.LineExtensionAmount}`\n  ).join(\"\\n\\n\");\n} else {\n  // If it's not an array (assuming it's a string), use it directly\n  invoiceLineDescription = invoiceData.InvoiceLine;\n}\n\n// Prepare the data to match the Supabase schema\nreturn {\n  json: {\n    ParentDocumentID: invoiceData.ParentDocumentID,\n    IssueDate: invoiceData.IssueDate,\n    SenderParty_RegistrationName: invoiceData.SenderParty_RegistrationName,\n    SenderParty_CompanyID: parseInt(invoiceData.SenderParty_CompanyID),\n    ReceiverParty_RegistrationName: invoiceData.ReceiverParty_RegistrationName,\n    ReceiverParty_CompanyID: parseInt(invoiceData.ReceiverParty_CompanyID),\n    LineExtensionAmount: parseFloat(invoiceData.LineExtensionAmount).toFixed(2),\n    TaxInclusiveAmount: parseFloat(invoiceData.TaxInclusiveAmount).toFixed(2),\n    IVA: invoiceData.IVA ? parseFloat(invoiceData.IVA).toFixed(2) : 0,\n    IC: invoiceData.IC ? parseFloat(invoiceData.IC).toFixed(2) : 0,\n    ICA: invoiceData.ICA ? parseFloat(invoiceData.ICA).toFixed(2) : 0,\n    INC: invoiceData.INC ? parseFloat(invoiceData.INC).toFixed(2) : 0,\n    ReteIVA: invoiceData.ReteIVA ? parseFloat(invoiceData.ReteIVA).toFixed(2) : 0,\n    ReteFuente: invoiceData.ReteFuente ? parseFloat(invoiceData.ReteFuente).toFixed(2) : 0,\n    ReteICA: invoiceData.ReteICA ? parseFloat(invoiceData.ReteICA).toFixed(2) : 0,\n    PayableAmount: parseFloat(invoiceData.PayableAmount).toFixed(2),\n    \n    // Set InvoiceLine (either the concatenated string or the original string)\n    InvoiceLine: invoiceLineDescription,\n\n    // Add CUFE, DataExtractionDate and File information\n    CUFE: $json.CUFE,\n    DataExtractionDate: new Date().toISOString(),\n    FileName: $json.FileName,\n    FileFormat: $json.FileFormat,\n\n    // Add AI model and token information\n    AI_Model: $json.AI_Model,\n    TokenIn: parseInt($json.TokenIn),\n    TokenOut: parseInt($json.TokenOut),\n    AI_Model2: $json.AI_Model2,\n    TokenIn2: parseInt($json.TokenIn2),\n    TokenOut2: parseInt($json.TokenOut2),\n\n    // Invoice description and expense type\n    InvoiceDescription: invoiceDescription.Description,\n    ExpenseType: invoiceDescription.ExpenseType,\n\n    // Account Classification\n    AccountNum1: accountClassification.AccountNum1 ? parseInt(accountClassification.AccountNum1) : null,\n    AccountNum1_Des: accountClassification.AccountNum1_Des || null,\n    AccountNum1_Val: accountClassification.AccountNum1_Val ? parseFloat(accountClassification.AccountNum1_Val).toFixed(2) : null,\n    AccountNum1_Deb_Cred: accountClassification.AccountNum1_Deb_Cred || null,\n\n    AccountNum2: accountClassification.AccountNum2 ? parseInt(accountClassification.AccountNum2) : null,\n    AccountNum2_Des: accountClassification.AccountNum2_Des || null,\n    AccountNum2_Val: accountClassification.AccountNum2_Val ? parseFloat(accountClassification.AccountNum2_Val).toFixed(2) : null,\n    AccountNum2_Deb_Cred: accountClassification.AccountNum2_Deb_Cred || null,\n\n\n    AccountNum3: accountClassification.AccountNum3 ? parseInt(accountClassification.AccountNum3) : null,\n    AccountNum3_Des: accountClassification.AccountNum3_Des || null,\n    AccountNum3_Val: accountClassification.AccountNum3_Val ? parseFloat(accountClassification.AccountNum3_Val).toFixed(2) : null,\n    AccountNum3_Deb_Cred: accountClassification.AccountNum3_Deb_Cred || null,\n\n    AccountNum4: accountClassification.AccountNum4 ? parseInt(accountClassification.AccountNum4) : null,\n    AccountNum4_Des: accountClassification.AccountNum4_Des || null,\n    AccountNum4_Val: accountClassification.AccountNum4_Val ? parseFloat(accountClassification.AccountNum4_Val).toFixed(2) : null,\n    AccountNum4_Deb_Cred: accountClassification.AccountNum4_Deb_Cred || null,\n\n    AccountNum5: accountClassification.AccountNum5 ? parseInt(accountClassification.AccountNum5) : null,\n    AccountNum5_Des: accountClassification.AccountNum5_Des || null,\n    AccountNum5_Val: accountClassification.AccountNum5_Val ? parseFloat(accountClassification.AccountNum5_Val).toFixed(2) : null,\n    AccountNum5_Deb_Cred: accountClassification.AccountNum5_Deb_Cred || null,\n\n    AccountNum6: accountClassification.AccountNum6 ? parseInt(accountClassification.AccountNum6) : null,\n    AccountNum6_Des: accountClassification.AccountNum6_Des || null,\n    AccountNum6_Val: accountClassification.AccountNum6_Val ? parseFloat(accountClassification.AccountNum6_Val).toFixed(2) : null,\n    AccountNum6_Deb_Cred: accountClassification.AccountNum6_Deb_Cred || null,\n\n    AccountNum7: accountClassification.AccountNum7 ? parseInt(accountClassification.AccountNum7) : null,\n    AccountNum7_Des: accountClassification.AccountNum7_Des || null,\n    AccountNum7_Val: accountClassification.AccountNum7_Val ? parseFloat(accountClassification.AccountNum7_Val).toFixed(2) : null,\n    AccountNum7_Deb_Cred: accountClassification.AccountNum7_Deb_Cred || null,\n\n    AccountNum8: accountClassification.AccountNum8 ? parseInt(accountClassification.AccountNum8) : null,\n    AccountNum8_Des: accountClassification.AccountNum8_Des || null,\n    AccountNum8_Deb_Cred: accountClassification.AccountNum8_Deb_Cred || null,\n    \n    // Confidence value\n    Confidence: parseFloat(accountClassification.Confidence).toFixed(2),\n  }\n};"
      },
      "id": "fed2e26b-7e3b-46bb-934f-457f6259cde6",
      "name": "Prepare Data for DB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        560
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "911a8fa7-ec7a-40aa-b62b-a5e97855bd59",
      "name": "Aggregate Accounts",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1240,
        780
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "={{ $item(1).$node[\"Airtable\"].json[\"ActualModel\"] }}",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $item(1).$node[\"Airtable\"].json[\"SystemPrompt\"] }}",
              "role": "system"
            },
            {
              "content": "={{ $item(1).$node[\"Airtable\"].json[\"UserPrompt_1\"] }}"
            },
            {
              "content": "={{ $item(1).$node[\"Airtable\"].json[\"UserPrompt_2\"] }}"
            },
            {
              "content": "={{ $item(1).$node[\"Airtable\"].json[\"UserPrompt_3\"] }}"
            },
            {
              "content": "={{ $item(1).$node[\"Airtable\"].json[\"UserPrompt_4\"] }}"
            },
            {
              "content": "={{ JSON.stringify($('Invoice Data').item.json.choices[0].message.content) }}"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {
          "maxTokens": 4096,
          "temperature": "={{ $item(1).$node[\"Airtable\"].json[\"Temperature\"] }}"
        }
      },
      "id": "b4cdfad0-ed1d-4a3f-9010-d3973f0f8bf6",
      "name": "Invoice Description",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        -820,
        680
      ],
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1G618RMtrzF5pecMAvATctu5CLl6dpL-qdKNpWaXx0mI",
          "mode": "list",
          "cachedResultName": "Error Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G618RMtrzF5pecMAvATctu5CLl6dpL-qdKNpWaXx0mI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Error Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G618RMtrzF5pecMAvATctu5CLl6dpL-qdKNpWaXx0mI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ParentDocumentID": "={{ $('Invoice Data').item.json.choices[0].message.content.ParentDocumentID }}",
            "IssueDate": "={{ $('Invoice Data').item.json.choices[0].message.content.IssueDate }}",
            "SenderParty_RegistrationName": "={{ $('Invoice Data').item.json.choices[0].message.content.SenderParty_RegistrationName }}",
            "SenderParty_CompanyID": "={{ $('Invoice Data').item.json.choices[0].message.content.SenderParty_CompanyID }}",
            "ReceiverParty_RegistrationName": "={{ $('Invoice Data').item.json.choices[0].message.content.ReceiverParty_RegistrationName }}",
            "ReceiverParty_CompanyID": "={{ $('Invoice Data').item.json.choices[0].message.content.ReceiverParty_CompanyID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ParentDocumentID",
              "displayName": "ParentDocumentID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IssueDate",
              "displayName": "IssueDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SenderParty_RegistrationName",
              "displayName": "SenderParty_RegistrationName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SenderParty_CompanyID",
              "displayName": "SenderParty_CompanyID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ReceiverParty_RegistrationName",
              "displayName": "ReceiverParty_RegistrationName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ReceiverParty_CompanyID",
              "displayName": "ReceiverParty_CompanyID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "bc564cf5-66ac-4afc-ac9b-87878e3de56c",
      "name": "Error Log 1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1620,
        1060
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1G618RMtrzF5pecMAvATctu5CLl6dpL-qdKNpWaXx0mI",
          "mode": "list",
          "cachedResultName": "Error Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G618RMtrzF5pecMAvATctu5CLl6dpL-qdKNpWaXx0mI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Error Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G618RMtrzF5pecMAvATctu5CLl6dpL-qdKNpWaXx0mI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ParentDocumentID": "={{ $('Invoice Data').item.json.choices[0].message.content.ParentDocumentID }}",
            "IssueDate": "={{ $('Invoice Data').item.json.choices[0].message.content.IssueDate }}",
            "SenderParty_RegistrationName": "={{ $('Invoice Data').item.json.choices[0].message.content.SenderParty_RegistrationName }}",
            "SenderParty_CompanyID": "={{ $('Invoice Data').item.json.choices[0].message.content.SenderParty_CompanyID }}",
            "ReceiverParty_RegistrationName": "={{ $('Invoice Data').item.json.choices[0].message.content.ReceiverParty_RegistrationName }}",
            "ReceiverParty_CompanyID": "={{ $('Invoice Data').item.json.choices[0].message.content.ReceiverParty_CompanyID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ParentDocumentID",
              "displayName": "ParentDocumentID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IssueDate",
              "displayName": "IssueDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SenderParty_RegistrationName",
              "displayName": "SenderParty_RegistrationName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SenderParty_CompanyID",
              "displayName": "SenderParty_CompanyID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ReceiverParty_RegistrationName",
              "displayName": "ReceiverParty_RegistrationName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ReceiverParty_CompanyID",
              "displayName": "ReceiverParty_CompanyID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "7dc50be1-f5ca-4427-bf00-54377e799bb8",
      "name": "Error Log 2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -960,
        1060
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "limit": 200,
        "filter": {
          "driveId": {
            "mode": "list",
            "value": "My Drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1ZGtCbeZOm0ervZFwY4hPwOaktoo6o5Tx",
            "mode": "list",
            "cachedResultName": "Invoices",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1ZGtCbeZOm0ervZFwY4hPwOaktoo6o5Tx"
          },
          "whatToSearch": "files"
        },
        "options": {
          "fields": [
            "name",
            "mimeType",
            "id",
            "webViewLink"
          ]
        }
      },
      "id": "bd06020c-2b60-45ce-85bb-04c9531d579f",
      "name": "List Files",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3220,
        1060
      ]
    },
    {
      "parameters": {
        "content": "# Extracción Data Facturas\n\n### - Transforma datos xml en binario base64\n### - Extrae información tomando parámetros y elementos de la DIAN\n### - Eror Handler --> archiva documento en carpeta error\n       *- Posibles errores:* \n          *1. API Rate Limit \n          *2. Archivo corrupto.\n\n\n",
        "height": 1022.0074574728235,
        "width": 820.1705180389802,
        "color": 7
      },
      "id": "9665b7f3-f215-469d-b92c-234e68425d98",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2600,
        627.8590554326672
      ]
    },
    {
      "parameters": {
        "content": "# Parametrización Cuentas Terceros\n\n### - Para cada tercero parametriza las cuentas contales que se deben contemplar en la clasificación de las cuentas contables.\n### - Descarta (Error) la factura si el tercero no tiene parametrización de cuentas. \n\n",
        "height": 1120.594338358876,
        "width": 661.9601137804477,
        "color": 7
      },
      "id": "59887172-73eb-4f51-8fd6-37c29a8eccf2",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1740,
        529.4815945666926
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "={{ $item(0).$node[\"Airtable\"].json[\"ActualModel\"] }}",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $item(0).$node[\"Airtable\"].json[\"SystemPrompt\"] }}",
              "role": "system"
            },
            {
              "content": "={{ $item(0).$node[\"Airtable\"].json[\"UserPrompt_1\"] }}"
            },
            {
              "content": "={{ $item(0).$node[\"Airtable\"].json[\"UserPrompt_2\"] }}"
            },
            {
              "content": "={{ $item(0).$node[\"Airtable\"].json[\"UserPrompt_3\"] }}"
            },
            {
              "content": "={{ $item(0).$node[\"Airtable\"].json[\"UserPrompt_4\"] }}"
            },
            {
              "content": "=# Invoice Data\n{{ $json.data }}"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {
          "maxTokens": 4096,
          "temperature": "={{ $item(0).$node[\"Airtable\"].json[\"Temperature\"] }}"
        }
      },
      "id": "60c2a566-9716-4e6e-a430-e730c9ac7352",
      "name": "Invoice Data Extraction",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        -2100,
        980
      ],
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "={{ $item(2).$node[\"Airtable\"].json[\"ActualModel\"] }}",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $item(2).$node[\"Airtable\"].json[\"SystemPrompt\"] }}",
              "role": "system"
            },
            {
              "content": "={{ $item(2).$node[\"Airtable\"].json[\"UserPrompt_1\"] }}"
            },
            {
              "content": "={{ $item(2).$node[\"Airtable\"].json[\"UserPrompt_2\"] }}"
            },
            {
              "content": "={{ $item(2).$node[\"Airtable\"].json[\"UserPrompt_3\"] }}"
            },
            {
              "content": "={{ $item(2).$node[\"Airtable\"].json[\"UserPrompt_4\"] }}"
            },
            {
              "content": "=# Knowledge\n### Invoice Description \n{{ $('Description').item.json.choices[0].message.content.Description }}\n\n### Invoice information and data:\n{{ JSON.stringify($('Invoice Data').item.json.choices[0].message.content) }}\n\n### Provided Accounts from PUC:\n{{ JSON.stringify($('Aggregate Accounts').item.json.data[0]) }}\n\n\n### Expense Type:\n{{ $('Description').item.json.choices[0].message.content.ExpenseType }}"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {
          "maxTokens": 4096,
          "temperature": "={{ $item(2).$node[\"Airtable\"].json[\"Temperature\"] }}"
        }
      },
      "id": "5a378d99-deb3-4763-9877-3856329f5459",
      "name": "Account_Classification",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        -340,
        660
      ],
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "# Descripción Factura\n\n### - Basado en los items del documento genera un breve resumen de la factura\n### - Crea un listado \"plano\" de los items de la factura\n### - Basado en el resumen y los items determina el tipo de gasto. Servicio, producto, activo e inventario.\n",
        "height": 1220.539202836085,
        "width": 661.9601137804477,
        "color": 7
      },
      "id": "7b4f1eda-de87-449a-aa4a-7ba51f9bbc4d",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1060,
        430.13856306300863
      ]
    },
    {
      "parameters": {
        "content": "# Clasificación Cuentas Contables\n\n### - Clasifica y asigna las cuentas contables para la factura, se basa en toda la información de la factura y las cuentas contables parametrizadas para el tercero.\n### - Agrupa y todas las variables y ajusta el fomato para registrar los datos en la DB.\n### - Mueve las facturas (archivos) a carpeta de extraidos. Si no hay error, mueve únicamente las facturas que fueron procesadas corrctamente",
        "height": 1331.0077721927473,
        "width": 1338.7662798951444,
        "color": 7
      },
      "id": "9c8973de-114d-4637-8e9a-37aa6195fc98",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -360,
        320
      ]
    },
    {
      "parameters": {
        "content": "# Parametrización del Modelo\n\n### - Cargue parámetros para el modelo AI y prompts\n### - Listado facturas disponibles para procesar\n\n\n",
        "height": 922.6045276686023,
        "width": 1233.4857381390289,
        "color": 7
      },
      "id": "2c2c0fb9-2817-49f4-8538-c1495fce2f17",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3874.861648116087,
        727.4938659510767
      ]
    },
    {
      "parameters": {
        "content": "## Error Handler \nDocumento con el reporte de errores encontrados.\n\n**Click to View** \n[Document - Error Log](https://docs.google.com/spreadsheets/d/1G618RMtrzF5pecMAvATctu5CLl6dpL-qdKNpWaXx0mI/edit?usp=sharing)\n",
        "height": 170.8594551034406,
        "width": 340.6018950004117,
        "color": 7
      },
      "id": "7623a9d5-b89b-40ac-b1c5-a8c407a7f84f",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1460,
        1060
      ]
    },
    {
      "parameters": {
        "content": "## Error Handler \nDocumento con el reporte de errores encontrados.\n\n**Click to View** \n[Document - Error Log](https://docs.google.com/spreadsheets/d/1G618RMtrzF5pecMAvATctu5CLl6dpL-qdKNpWaXx0mI/edit?usp=sharing)\n",
        "height": 170.8594551034406,
        "width": 340.6018950004117,
        "color": 7
      },
      "id": "3563f772-5625-44cc-9382-70f173be7f5d",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -760,
        1060
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uymiDrtTUcy56FMufL1tYpvFJMRH_3fqdP5QBO2f_zM",
          "mode": "list",
          "cachedResultName": "Model Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uymiDrtTUcy56FMufL1tYpvFJMRH_3fqdP5QBO2f_zM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Modelo_1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uymiDrtTUcy56FMufL1tYpvFJMRH_3fqdP5QBO2f_zM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "ParentDocumentID",
              "displayName": "ParentDocumentID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IssueDate",
              "displayName": "IssueDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SenderParty_RegistrationName",
              "displayName": "SenderParty_RegistrationName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SenderParty_CompanyID",
              "displayName": "SenderParty_CompanyID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ReceiverParty_RegistrationName",
              "displayName": "ReceiverParty_RegistrationName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ReceiverParty_CompanyID",
              "displayName": "ReceiverParty_CompanyID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LineExtensionAmount",
              "displayName": "LineExtensionAmount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TaxInclusiveAmount",
              "displayName": "TaxInclusiveAmount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IVA",
              "displayName": "IVA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IC",
              "displayName": "IC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ICA",
              "displayName": "ICA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "INC",
              "displayName": "INC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ReteIVA",
              "displayName": "ReteIVA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ReteFuente",
              "displayName": "ReteFuente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ReteICA",
              "displayName": "ReteICA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PayableAmount",
              "displayName": "PayableAmount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "InvoiceLine",
              "displayName": "InvoiceLine",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DataExtractionDate",
              "displayName": "DataExtractionDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FileName",
              "displayName": "FileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FileFormat",
              "displayName": "FileFormat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI_Model",
              "displayName": "AI_Model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TokenIn",
              "displayName": "TokenIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TokenOut",
              "displayName": "TokenOut",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "InvoiceDescription",
              "displayName": "InvoiceDescription",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ExpenseType",
              "displayName": "ExpenseType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AccountNum1",
              "displayName": "AccountNum1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AccountNum1_Des",
              "displayName": "AccountNum1_Des",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AccountNum1_Val",
              "displayName": "AccountNum1_Val",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AccountNum1_Deb_Cred",
              "displayName": "AccountNum1_Deb_Cred",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AccountNum2",
              "displayName": "AccountNum2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AccountNum2_Des",
              "displayName": "AccountNum2_Des",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AccountNum2_Val",
              "displayName": "AccountNum2_Val",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AccountNum2_Deb_Cred",
              "displayName": "AccountNum2_Deb_Cred",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AccountNum3",
              "displayName": "AccountNum3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AccountNum3_Des",
              "displayName": "AccountNum3_Des",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AccountNum3_Val",
              "displayName": "AccountNum3_Val",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AccountNum3_Deb_Cred",
              "displayName": "AccountNum3_Deb_Cred",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AccountNum4",
              "displayName": "AccountNum4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AccountNum4_Des",
              "displayName": "AccountNum4_Des",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AccountNum4_Val",
              "displayName": "AccountNum4_Val",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AccountNum4_Deb_Cred",
              "displayName": "AccountNum4_Deb_Cred",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AccountNum5",
              "displayName": "AccountNum5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AccountNum5_Des",
              "displayName": "AccountNum5_Des",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AccountNum5_Val",
              "displayName": "AccountNum5_Val",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AccountNum5_Deb_Cred",
              "displayName": "AccountNum5_Deb_Cred",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AccountNum6",
              "displayName": "AccountNum6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AccountNum6_Des",
              "displayName": "AccountNum6_Des",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AccountNum6_Val",
              "displayName": "AccountNum6_Val",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AccountNum6_Deb_Cred",
              "displayName": "AccountNum6_Deb_Cred",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AccountNum7",
              "displayName": "AccountNum7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AccountNum7_Des",
              "displayName": "AccountNum7_Des",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AccountNum7_Val",
              "displayName": "AccountNum7_Val",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AccountNum7_Deb_Cred",
              "displayName": "AccountNum7_Deb_Cred",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AccountNum8",
              "displayName": "AccountNum8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AccountNum8_Des",
              "displayName": "AccountNum8_Des",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AccountNum8_Val",
              "displayName": "AccountNum8_Val",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AccountNum8_Deb_Cred",
              "displayName": "AccountNum8_Deb_Cred",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Confidence",
              "displayName": "Confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Validation",
              "displayName": "Validation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI_Model2",
              "displayName": "AI_Model2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TokenIn2",
              "displayName": "TokenIn2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TokenOut2",
              "displayName": "TokenOut2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CUFE",
              "displayName": "CUFE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "105480ec-28fd-4e90-82ed-8cbc48e038c6",
      "name": "Model Test",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        840,
        160
      ]
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "List Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Files / XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML Data": {
      "main": [
        [
          {
            "node": "Invoice Data Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Files / XML": {
      "main": [
        [
          {
            "node": "XML Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoice Data": {
      "main": [
        [
          {
            "node": "VendorAccounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean JSON": {
      "main": [
        [
          {
            "node": "Aggregate Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Description": {
      "main": [
        [
          {
            "node": "Account_Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All_Invoice_Data": {
      "main": [
        [
          {
            "node": "Prepare Data for DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InvoiceDB": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handling 7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handling 1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VendorAccounts": {
      "main": [
        [
          {
            "node": "Clean JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Log 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Invoice Description",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Log 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handling 7": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handling 6": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handling  5": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handling  3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handling 4": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handling 2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data for DB": {
      "main": [
        [
          {
            "node": "Model Test",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handling 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Accounts": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoice Description": {
      "main": [
        [
          {
            "node": "Description",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handling 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Log 1": {
      "main": [
        [
          {
            "node": "Error Handling 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Log 2": {
      "main": [
        [
          {
            "node": "Error Handling  3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Files": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoice Data Extraction": {
      "main": [
        [
          {
            "node": "Invoice Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handling 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Account_Classification": {
      "main": [
        [
          {
            "node": "All_Invoice_Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handling  5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model Test": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "35110482-0500-4df7-95b8-cddb398da22b",
  "triggerCount": 0,
  "tags": []
}