workflows/cargar_flujos_a_Github.json
{
  "createdAt": "2025-07-18T16:50:00.038Z",
  "updatedAt": "2025-07-20T16:58:21.541Z",
  "id": "8jPJUWpWpv2jVQxu",
  "name": "cargar flujos a Github",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        420,
        -40
      ],
      "id": "7a717e61-cece-442b-8905-ec82737fb90d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://n8n.appintegria.com/api/v1/workflows",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJlYjEyMTI0Yi01NTNkLTRlMmMtYmM0Mi1kYzJlNGU4MDNlODIiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzUyODY2NDkzLCJleHAiOjE3NTUzODE2MDB9.klxzx4ChGq6X7_m9_e7ZLqjllMD7HlZiXHD0VIHMtXM"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        -40
      ],
      "id": "cbb9a626-0fb2-4dc6-bf9b-49e9ad00b698",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        800,
        -40
      ],
      "id": "d51be2f5-fe34-478c-a7ec-1ef7896a372f",
      "name": "Split Out"
    },
    {
      "parameters": {
        "functionCode": "return [\n  {\n    json: {\n      nombre: $json.name,\n      id: $json.id,\n      version: $json.versionId\n    }\n  }\n];"
      },
      "id": "b7e699d5-1bbe-4293-b5ee-ef8d9ba394dd",
      "name": "Log Workflow Name",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1160,
        -260
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fbaaf0a8-f50f-4de8-acb3-2a92cad9c3b5",
              "name": "fileName",
              "value": "={{ $json.name.replace(/[^a-z0-9]/gi, '_') }}.json",
              "type": "string"
            },
            {
              "id": "536d99f7-1001-45f1-a546-8c0f978d424e",
              "name": "fileContent",
              "value": "={{ JSON.stringify($json, null, 2) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        980,
        -60
      ],
      "id": "73eb7954-d252-45f2-b94c-c5ed7b3b4c65",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "brayancanonk",
          "mode": "list",
          "cachedResultName": "brayancanonk",
          "cachedResultUrl": "https://github.com/brayancanonk"
        },
        "repository": {
          "__rl": true,
          "value": "inverlink_extractos",
          "mode": "list",
          "cachedResultName": "inverlink_extractos",
          "cachedResultUrl": "https://github.com/brayancanonk/inverlink_extractos"
        },
        "filePath": "=workflows/{{ $json[\"fileName\"] }}",
        "fileContent": "={{ $json[\"fileContent\"] }}",
        "commitMessage": "=update: {{ $json[\"fileName\"] }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1460,
        -200
      ],
      "id": "a9a72cd0-2b0a-4cad-bb29-b688a6abf893",
      "name": "Create a file",
      "webhookId": "c7eb2ac8-b1ee-4b0a-a3ff-e8f032469ea9",
      "credentials": {
        "githubOAuth2Api": {
          "id": "xEGUBUapzVmXy8SB",
          "name": "GitHub brayan"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "brayancanonk",
          "mode": "list",
          "cachedResultName": "brayancanonk",
          "cachedResultUrl": "https://github.com/brayancanonk"
        },
        "repository": {
          "__rl": true,
          "value": "inverlink_extractos",
          "mode": "list",
          "cachedResultName": "inverlink_extractos",
          "cachedResultUrl": "https://github.com/brayancanonk/inverlink_extractos"
        },
        "filePath": "=workflows/{{ $json.fileName }}",
        "additionalParameters": {
          "reference": "main"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1540,
        -20
      ],
      "id": "870f97c5-a838-499d-aa6a-ff7d076c4bfd",
      "name": "Get a file",
      "webhookId": "a60c624f-9248-4f71-ab81-d5fe07041b4b",
      "credentials": {
        "githubOAuth2Api": {
          "id": "xEGUBUapzVmXy8SB",
          "name": "GitHub brayan"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const nombreOriginal = $json[\"name\"] || \"workflow_default\";\n\n// Función para normalizar el nombre\nfunction limpiarNombre(nombre) {\n  return nombre\n    .normalize(\"NFD\")                           // Quita tildes\n    .replace(/[\\u0300-\\u036f]/g, \"\")           // Elimina los diacríticos\n    .replace(/[^a-zA-Z0-9 ]/g, \"_\")            // Reemplaza caracteres no válidos con _\n    .replace(/\\s+/g, \"_\")                      // Reemplaza espacios por _\n    .replace(/_+/g, \"_\")                       // Evita múltiples guiones bajos\n    .replace(/^_+|_+$/g, \"\");                  // Quita _ al inicio y al final\n}\n\nconst nombreLimpio = limpiarNombre(nombreOriginal);\n\n// Asegura extensión\nconst nombreFinal = `${nombreLimpio}.json`;\n\n// Salida para siguientes nodos\nreturn [\n  {\n    json: {\n      fileName: nombreFinal,\n      fileContent: $json,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        -40
      ],
      "id": "82b73cef-e146-4fc5-a8d5-b68cd4be31ca",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1160,
        -80
      ],
      "id": "35fcf8f3-9269-4cbc-8101-c9d7cbac0781",
      "name": "Loop Over Items"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "87988e15-5228-4897-9264-5bfbde2512c4",
  "triggerCount": 0,
  "tags": []
}