workflows/Conciliaci_n_Bancaria.json
{
  "createdAt": "2024-10-30T21:28:56.698Z",
  "updatedAt": "2024-11-25T13:24:31.595Z",
  "id": "cT61bFVuy6cegFIW",
  "name": "Conciliación Bancaria",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "e07894ae-6e9d-4613-b291-fd789cac9107",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -380,
        40
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{$json[\"id\"]}}"
      },
      "id": "8a14a579-9b2f-4e19-b43d-c147fbd68905",
      "name": "Microsoft OneDrive1",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        20,
        140
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "VuffFQLziQK9I5pc",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "folderId": "01PHCLF5E3CLWOHKGQZVDKGVX6P5QBIHZQ"
      },
      "id": "d96bd4a6-b365-4b72-94f2-2e4858ced0d9",
      "name": "Microsoft OneDrive",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        -160,
        140
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "VuffFQLziQK9I5pc",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "Extracción data PDF\n\nCarga el documento PDF para la extracción de información. Devuelve la data en Json",
        "height": 535.8700624077513,
        "width": 956.759134270801,
        "color": 7
      },
      "id": "d7d860d2-cee8-4572-a17e-27eb1a82f7eb",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -420,
        -200
      ]
    },
    {
      "parameters": {
        "resource": "folder",
        "folderId": "01PHCLF5GHCJ35DYE36BDKTOGEKLGNRC6R"
      },
      "id": "92559046-c921-4876-a745-f4f7dbe76821",
      "name": "Microsoft OneDrive2",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        -160,
        -40
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "VuffFQLziQK9I5pc",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "3086c97c-5ac6-4ee8-a88c-f324ae603efe",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        200,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "// Accede al campo 'text' en el JSON extraído\nconst texto = $json.text;\n\n// Expresión regular para buscar patrones de fecha, descripción y valor\nconst movimientos = texto.match(/(\\d{2}\\/\\d{2})\\s(\\d+)\\s(.+)\\s([-\\d,]+\\.\\d{2})\\s([\\d,]+\\.\\d{2})/g);\n\nif (!movimientos) {\n    throw new Error(\"No se encontraron movimientos en el texto.\");\n}\n\n// Convierte cada movimiento a un objeto estructurado, agregando el año 2024 a las fechas\nconst datosExtraidos = movimientos.map(movimiento => {\n    const partes = movimiento.match(/(\\d{2}\\/\\d{2})\\s(\\d+)\\s(.+?)\\s([-\\d,]+\\.\\d{2})\\s([\\d,]+\\.\\d{2})/);\n    \n    // Agrega el año a la fecha\n    const fecha = partes[1] + '/2024';  // Ajusta el año según corresponda\n\n    return {\n        fecha: fecha,\n        codigo: partes[2],\n        descripcion: partes[3],\n        valor: parseFloat(partes[4].replace(/,/g, '')),\n        saldo: parseFloat(partes[5].replace(/,/g, ''))\n    };\n});\n\nreturn datosExtraidos.map(movimiento => ({ json: movimiento }));\n\n"
      },
      "id": "1006bb02-c6fd-4e09-b5ba-b6eafc390b05",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        140
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}"
      },
      "id": "6360784d-e951-48a1-853c-b45f5808f6da",
      "name": "Microsoft OneDrive3",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        20,
        -40
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "VuffFQLziQK9I5pc",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "d8dccf26-254b-49c4-8141-1f32d6d2a66c",
      "name": "Extract from File1",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        200,
        -40
      ]
    },
    {
      "parameters": {
        "jsCode": "// Función para convertir el número de serie de fecha de Excel a DD/MM/YYYY\nfunction excelDateToJSDate(excelDate) {\n    if (!excelDate || isNaN(excelDate)) return null;\n    const jsDate = new Date((excelDate - 25569) * 86400 * 1000);\n    const day = jsDate.getDate().toString().padStart(2, '0');\n    const month = (jsDate.getMonth() + 1).toString().padStart(2, '0');\n    const year = jsDate.getFullYear();\n    return `${day}/${month}/${year}`;\n}\n\n// Función para limpiar y convertir valores numéricos\nfunction parseNumber(value) {\n    if (typeof value === 'string') {\n        return parseFloat(value.replace(/,/g, '').trim()) || 0;\n    }\n    return parseFloat(value) || 0;\n}\n\n// Recorre cada fila extraída y organiza las columnas relevantes\nconst movimientosContables = $input.all().map((item) => {\n    const row = item.json;\n\n    return {\n        cuenta: row['CUENTA'] || row['__EMPTY'] || \"\",\n        descripcionCuenta: row['DESCRIPCION'] || row['__EMPTY_1'] || \"\",\n        saldoInicial: parseNumber(row['SALDO INICIAL'] || row['__EMPTY_2'] || 0),\n        comprobante: row['COMPROBANTE'] || row['__EMPTY_3'] || \"\",\n        fecha: excelDateToJSDate(row['FECHA'] || row['__EMPTY_4']),\n        nit: row['NIT'] || row['__EMPTY_5'] || \"\",\n        nombre: row['NOMBRE'] || row['__EMPTY_6'] || \"\",\n        detalleDescripcion: row['DESCRIPCION'] || row['__EMPTY_7'] || \"\",\n        inventarioCruceCheque: row['INVENTARIO-CRUCE-CHEQUE'] || row['__EMPTY_8'] || \"\",\n        base: parseNumber(row['BASE'] || row['__EMPTY_9'] || 0),\n        cc: row['CC SCC'] || row['__EMPTY_10'] || \"\",\n        debitos: parseNumber(row['DEBITOS'] || row['__EMPTY_11'] || 0),\n        creditos: parseNumber(row['CREDITOS'] || row['__EMPTY_12'] || 0),\n        saldoMov: parseNumber(row['SALDO MOV.'] || row['__EMPTY_13'] || 0),\n        observacion: row['OBSERVACION'] || \"\"\n    };\n});\n\n// Filtra las filas para solo incluir cuentas de bancos (grupo 11)\nconst movimientosValidos = movimientosContables.filter(movimiento => movimiento.cuenta.startsWith(\"11\") && movimiento.fecha);\n\n// Devuelve los movimientos contables como salida JSON\nreturn movimientosValidos.map(movimiento => ({ json: movimiento }));\n"
      },
      "id": "c5d65394-2b30-4443-b3af-504de0284803",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        -40
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Obtener los datos de ambos nodos\nconst movimientosContables = $items(\"Code1\", 0).map(item => item.json); // Nodo del movimiento contable\nconst extractoBancario = $items(\"Code\", 0).map(item => item.json); // Nodo del extracto bancario\n\n// Validar que ambos nodos tengan datos y que sean arrays\nif (!Array.isArray(movimientosContables) || movimientosContables.length === 0) {\n    throw new Error(\"No se encontraron datos válidos en el nodo 'Code1'. Verifica que el nodo 'Code1' esté conectado correctamente y que envíe datos.\");\n}\n\nif (!Array.isArray(extractoBancario) || extractoBancario.length === 0) {\n    throw new Error(\"No se encontraron datos válidos en el nodo 'Code'. Verifica que el nodo 'Code' esté conectado correctamente y que envíe datos.\");\n}\n\n// Listas de salida\nconst coincidencias = [];\nconst extractoNoCoincide = [];\nconst movimientosNoCoinciden = [];\n\n// Crear una copia de la lista de movimientos contables para identificar los no coincidentes\nlet movimientosRestantes = [...movimientosContables];\n\n// Comparar extractos con movimientos contables\nextractoBancario.forEach(transaccion => {\n    if (typeof transaccion !== 'object' || transaccion === null) {\n        console.log(\"Transacción no es un objeto válido:\", transaccion);\n        return;\n    }\n    \n    let encontrado = false;\n\n    for (let i = 0; i < movimientosRestantes.length; i++) {\n        const movimiento = movimientosRestantes[i];\n\n        if (typeof movimiento !== 'object' || movimiento === null) {\n            console.log(\"Movimiento no es un objeto válido:\", movimiento);\n            continue;\n        }\n\n        // Comprobar coincidencia entre movimiento contable y extracto bancario\n        if (\n            movimiento.fecha === transaccion.fecha &&\n            (Math.abs(movimiento.debitos) === Math.abs(transaccion.valor) || Math.abs(movimiento.creditos) === Math.abs(transaccion.valor))\n        ) {\n            encontrado = true;\n\n            // Añadir a coincidencias\n            coincidencias.push({\n                json: {\n                    fecha: transaccion.fecha,\n                    descripcionExtracto: transaccion.descripcion,\n                    valorExtracto: transaccion.valor,\n                    descripcionMovimiento: movimiento.detalleDescripcion,\n                    debitosMovimiento: movimiento.debitos,\n                    creditosMovimiento: movimiento.creditos,\n                    cuentaMovimiento: movimiento.cuenta\n                }\n            });\n\n            // Remover movimiento de los movimientos restantes\n            movimientosRestantes.splice(i, 1);\n            break; // Salir del bucle una vez encontrado\n        }\n    }\n\n    // Si no se encontró coincidencia, agregar al extracto sin coincidencia\n    if (!encontrado) {\n        extractoNoCoincide.push({ json: { ...transaccion } });\n    }\n});\n\n// Movimientos restantes son los que no tienen coincidencia con los extractos\nmovimientosRestantes.forEach(movimiento => {\n    if (typeof movimiento === 'object' && movimiento !== null) {\n        movimientosNoCoinciden.push({ json: { ...movimiento } });\n    } else {\n        console.log(\"Movimiento restante no es un objeto válido:\", movimiento);\n    }\n});\n\n// Verificar que cada salida tenga la propiedad 'json' que apunte a un objeto\nconst verificarSalida = (lista, nombre) => {\n    lista.forEach((item, index) => {\n        if (typeof item.json !== 'object' || item.json === null) {\n            throw new Error(`Elemento en '${nombre}' en el índice ${index} no es un objeto válido.`);\n        }\n    });\n};\n\nverificarSalida(coincidencias, \"coincidencias\");\nverificarSalida(extractoNoCoincide, \"extractoNoCoincide\");\nverificarSalida(movimientosNoCoinciden, \"movimientosNoCoinciden\");\n\n// Retornar tres salidas: coincidencias, extractos no coincidentes, movimientos no coincidentes\nreturn [\n    { json: { resultado: \"coincidencias\", data: coincidencias } },\n    { json: { resultado: \"extractoNoCoincide\", data: extractoNoCoincide } },\n    { json: { resultado: \"movimientosNoCoinciden\", data: movimientosNoCoinciden } }\n];\n\n"
      },
      "id": "f586ffe1-604b-4286-972e-a31c53f44b51",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        40
      ]
    },
    {
      "parameters": {
        "content": "Cruce de información",
        "height": 536,
        "width": 1224,
        "color": 7
      },
      "id": "aa62ed61-844a-492f-ac08-ea9d57709c31",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        580,
        -200
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3e5bce2c-6d6d-4d93-b747-d7968883c525",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1000,
        -100
      ]
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "addTable",
        "workbook": {
          "__rl": true,
          "value": "01PHCLF5AKTZDZIKTHEFE3C6SAFTH5LOKV",
          "mode": "list",
          "cachedResultName": "Conciliacion_Bancos",
          "cachedResultUrl": "https://kryptocolombia-my.sharepoint.com/personal/edgar_caballero_krypto_com_co/_layouts/15/Doc.aspx?sourcedoc=%7B94479E0A-672A-4921-B17A-402CCFD5B955%7D&file=Conciliacion_Bancos.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"
        },
        "worksheet": {
          "__rl": true,
          "value": "{00000000-0001-0000-0000-000000000000}",
          "mode": "list",
          "cachedResultName": "Hoja1",
          "cachedResultUrl": "https://kryptocolombia-my.sharepoint.com/personal/edgar_caballero_krypto_com_co/_layouts/15/Doc.aspx?sourcedoc=%7B94479E0A-672A-4921-B17A-402CCFD5B955%7D&file=Conciliacion_Bancos.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Hoja1!A1"
        }
      },
      "id": "4c05771a-440c-46f3-b85a-afb3cd2f4d2a",
      "name": "Microsoft Excel 365",
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.1,
      "position": [
        1560,
        -20
      ],
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "RdWQiCkLyjhP02OR",
          "name": "Microsoft Excel account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "GPT-4"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an assistant who will validate accounting records from consolidated bank transactions and accounting movements. Your task is to identify matching entries, mismatches, and any unusual activity based on given criteria.\n",
              "role": "system"
            },
            {
              "content": "=I have consolidated data from bank transactions and accounting records. Please validate the information and provide:\n\n- A list of matched transactions.\n- A list of unmatched transactions in bank records.\n- A list of unmatched accounting movements.\n\nHere is the data:\n\n{{ JSON.stringify($input.all()) }}\n\nThis is a batch of transactions. Please validate only the entries in this batch and return the matched, unmatched bank transactions, and unmatched accounting movements for this batch.\n"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {
          "maxTokens": 4096,
          "temperature": "=0.2"
        }
      },
      "id": "01793da2-e022-4233-a4bd-8bac0a5cfeea",
      "name": "Invoice Description",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        1200,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "0r1L7QIDC5ZRtM0r",
          "name": "OpenAi"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "Microsoft OneDrive1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft OneDrive": {
      "main": [
        [
          {
            "node": "Microsoft OneDrive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft OneDrive2": {
      "main": [
        [
          {
            "node": "Microsoft OneDrive3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft OneDrive3": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Microsoft OneDrive2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Microsoft OneDrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Invoice Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoice Description": {
      "main": [
        [
          {
            "node": "Microsoft Excel 365",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Excel 365": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3abac26a-628d-4246-ae8f-88146eac9f1f",
  "triggerCount": 0,
  "tags": []
}