workflows/Inverlink___Flujo_extracci_n_de_facturas_conexi_n.json
{
  "createdAt": "2025-07-09T03:14:03.643Z",
  "updatedAt": "2025-07-14T20:19:30.339Z",
  "id": "9f14rntFhRymmjdF",
  "name": "Inverlink - Flujo extracción de facturas conexión",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1400,
        -160
      ],
      "id": "3b1dc1b2-3bc4-4936-86b0-753eadf994d4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/drives/b!PU0gxZ5Z3U2p8sh5AytDNQ0r9LElzUdKoJM90a8dwlNNksuuoU34TpjRp8lz1oPs/root:/REGISTRO%20OPERACIONES%20HELISA(%20Inverlink%20-IEI-%20IIA)/A%C3%91O%202025/INVERLINK%20SAS/c.%20Tarjetas%20de%20Cr%C3%A9dito/01.%20Enero:/children",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1180,
        -160
      ],
      "id": "fb7d3510-42eb-4900-97e2-5a61aa9c7e99",
      "name": "Listar archivos2",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "NvLfWW6CpSEbWCIO",
          "name": "Microsoft SharePoint account"
        },
        "microsoftGraphSecurityOAuth2Api": {
          "id": "3bJKtXRc91GFo2Tj",
          "name": "Microsoft Graph Security account"
        },
        "oAuth2Api": {
          "id": "iCNVrjz2iccszU7h",
          "name": "Inverlink sharepoint"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener todos los datos de entrada\nconst todosLosItems = $input.all();\n\n// Extraer automáticamente los meses válidos desde los datos\nconst mesesValidos = new Set();\nfor (const item of todosLosItems) {\n  const carpetas = item.json.value;\n  if (!Array.isArray(carpetas)) continue;\n\n  for (const carpeta of carpetas) {\n    const mes = carpeta.parentReference?.name;\n    if (mes) mesesValidos.add(mes);\n  }\n}\n\n// Creamos una lista de salida más útil para n8n\nconst salidaFinal = [];\n\nfor (const item of todosLosItems) {\n  const carpetas = item.json.value;\n  if (!Array.isArray(carpetas)) continue;\n\n  for (const carpeta of carpetas) {\n    const esCarpeta = carpeta.hasOwnProperty(\"folder\");\n    const nombreMes = carpeta.parentReference?.name;\n    const nombreCarpeta = carpeta.name;\n\n    if (esCarpeta && nombreMes && nombreCarpeta && mesesValidos.has(nombreMes)) {\n      salidaFinal.push({\n        mes: nombreMes,\n        banco: nombreCarpeta\n      });\n    }\n  }\n}\n\nreturn salidaFinal.map(entry => ({ json: entry }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1000,
        -160
      ],
      "id": "1cc5470a-7032-4980-95f1-75bc52bbb45e",
      "name": "Extraer folder banco"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d8934554-a0d9-46a7-b4c8-32ee645cfad7",
              "leftValue": "={{ $json.banco }}",
              "rightValue": "Bancolombia",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "ad340478-6848-46d7-b1fc-3b021920ce36",
              "leftValue": "={{ $json.banco }}",
              "rightValue": "=Occidente",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -800,
        -160
      ],
      "id": "de5cbebc-81ac-4072-8e1b-83b9855ad530",
      "name": "If1"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/drives/b!PU0gxZ5Z3U2p8sh5AytDNQ0r9LElzUdKoJM90a8dwlNNksuuoU34TpjRp8lz1oPs/root:/REGISTRO%20OPERACIONES%20HELISA(%20Inverlink%20-IEI-%20IIA)/A%C3%91O%202025/INVERLINK%20SAS/c.%20Tarjetas%20de%20Cr%C3%A9dito/01.%20Enero/{{ $json.banco }}:/children\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        -180
      ],
      "id": "cf18daf6-463b-4177-9465-0626801b353e",
      "name": "Listar archivos5",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "NvLfWW6CpSEbWCIO",
          "name": "Microsoft SharePoint account"
        },
        "microsoftGraphSecurityOAuth2Api": {
          "id": "3bJKtXRc91GFo2Tj",
          "name": "Microsoft Graph Security account"
        },
        "oAuth2Api": {
          "id": "iCNVrjz2iccszU7h",
          "name": "Inverlink sharepoint"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "value",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -380,
        -180
      ],
      "id": "f32be3c7-4c86-4e8f-bd50-841ea5670ad4",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fieldToSplitOut": "value",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -980,
        40
      ],
      "id": "a68feca0-568d-4e35-a154-425275f3b5c0",
      "name": "Split Out1",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all(); // Obtener todos los ítems de entrada\n\nconst resultado = [];\n\nfor (const item of items) {\n  const json = item.json;\n\n  if (json.parentReference?.driveType === \"documentLibrary\" && json.name) {\n    resultado.push({ name: json.name });\n  }\n}\n\nreturn resultado.map(entry => ({ json: entry }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -180
      ],
      "id": "3bfd749e-14e7-4cca-b4a4-5e8efc3400fa",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/drives/b!PU0gxZ5Z3U2p8sh5AytDNQ0r9LElzUdKoJM90a8dwlNNksuuoU34TpjRp8lz1oPs/root:/REGISTRO%20OPERACIONES%20HELISA(%20Inverlink%20-IEI-%20IIA)/A%C3%91O%202025/INVERLINK%20SAS/c.%20Tarjetas%20de%20Cr%C3%A9dito/01.%20Enero/{{ $('If1').item.json.banco }}/{{ $json.name }}:/children\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        40,
        -160
      ],
      "id": "b35a0c5f-29d4-43d3-8bf6-b63e084ec375",
      "name": "Listar archivos",
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "NvLfWW6CpSEbWCIO",
          "name": "Microsoft SharePoint account"
        },
        "microsoftGraphSecurityOAuth2Api": {
          "id": "3bJKtXRc91GFo2Tj",
          "name": "Microsoft Graph Security account"
        },
        "oAuth2Api": {
          "id": "iCNVrjz2iccszU7h",
          "name": "Inverlink sharepoint"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "value",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        260,
        -140
      ],
      "id": "2f22fe81-e85b-470f-843f-d3c4ae3ca95e",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all(); // Obtener todos los ítems de entrada\n\nconst resultado = [];\n\nfor (const item of items) {\n  const json = item.json;\n\n  if (json.file?.mimeType === \"application/pdf\" && json.name) {\n    resultado.push({\n      name: json.name,\n      urlDownload: json[\"@microsoft.graph.downloadUrl\"]\n    });\n  }\n}\n\nreturn resultado.map(entry => ({ json: entry }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        -20
      ],
      "id": "8db548d5-d16b-4fd4-81fc-8ed2171d6ea1",
      "name": "Code1"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Listar archivos2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar archivos2": {
      "main": [
        [
          {
            "node": "Extraer folder banco",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer folder banco": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Listar archivos5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar archivos5": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Listar archivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar archivos": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "8f913e71-04bd-471f-8c09-16269ae36e30",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-06-03T20:36:49.469Z",
      "updatedAt": "2025-06-03T20:36:49.469Z",
      "id": "E9oSeWOtAViNQ19X",
      "name": "Inverlink"
    },
    {
      "createdAt": "2025-06-21T20:39:27.636Z",
      "updatedAt": "2025-06-21T20:39:27.636Z",
      "id": "XxrfLEy8SmG2KtL4",
      "name": "OCR"
    },
    {
      "createdAt": "2025-06-21T20:39:27.639Z",
      "updatedAt": "2025-06-21T20:39:27.639Z",
      "id": "wClzvw7IdVzfaWq7",
      "name": "Claude"
    }
  ]
}