workflows/Inverlik___Flujo_extracci_n_de_facturas_Pruebas_copy.json
{
  "createdAt": "2025-06-21T20:47:06.543Z",
  "updatedAt": "2025-06-22T19:06:21.708Z",
  "id": "5dZ0lC4Ue6LWB6Fd",
  "name": "Inverlik - Flujo extracción de facturas Pruebas copy",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "texto-extraido",
              "name": "TEXTO_EXTRAIDO",
              "value": "={{ $json.content[0].text }}",
              "type": "string"
            },
            {
              "id": "nombre-archivo",
              "name": "NOMBRE_ARCHIVO",
              "value": "={{ $('EdiciónImagen1').item.json.NOMBRE_IMG }}",
              "type": "string"
            },
            {
              "id": "url-original",
              "name": "URL_ORIGINAL",
              "value": "={{ $('EdiciónImagen1').item.json.URL_DESCARGA }}",
              "type": "string"
            },
            {
              "id": "tokens-input",
              "name": "TOKENS_INPUT",
              "value": "={{ $json.usage.input_tokens }}",
              "type": "number"
            },
            {
              "id": "tokens-output",
              "name": "TOKENS_OUTPUT",
              "value": "={{ $json.usage.output_tokens }}",
              "type": "number"
            },
            {
              "id": "modelo-usado",
              "name": "MODELO_USADO",
              "value": "={{ $json.model }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        740
      ],
      "id": "5c732371-b92d-4a2c-8764-144dfcd8badb",
      "name": "Resultado OCR"
    },
    {
      "parameters": {
        "content": "PROCESAMIENTO OCR\n\nClaude extrae texto de las imágenes de facturas usando prompts especializados",
        "height": 280,
        "width": 540,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        600
      ],
      "typeVersion": 1,
      "id": "b93de03f-a163-4990-b112-53c1cca2c13e",
      "name": "Sticky Note OCR"
    },
    {
      "parameters": {
        "content": "ENLISTAR ARCHIVOS\n\nSe busca archivos de la carpeta facturas para ser procesadas",
        "height": 460,
        "width": 580,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1640,
        740
      ],
      "typeVersion": 1,
      "id": "94bd69b3-f7f5-4bc7-87f6-e726d1f1d363",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/drives/b!-02EM_wd0k6M56RnimF0xkDItfGN-XlMs5uiXmxPwaU5xIyKBhaMT4lmmJ4nW14v/items/01IJRIS2QIAEF6SWWNNBFIAJUCJFUGCUOD/children",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1400,
        900
      ],
      "id": "10f97ccf-0dfe-4ae2-8dbe-b8d9c3de6387",
      "name": "Listar archivos",
      "credentials": {
        "oAuth2Api": {
          "id": "h0MhrHGnW5SCKZID",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "value",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1220,
        900
      ],
      "id": "4c6e2599-c8c2-42a7-97fc-17e6f534bd9a",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d0fc399-fdea-48d1-bba4-5bccb7dc971b",
              "name": "NOMBRE_IMG",
              "value": "={{$json[\"name\"]}}",
              "type": "string"
            },
            {
              "id": "aa0c6fe1-b566-435e-9405-bcca6a748c67",
              "name": "ID_IMG",
              "value": "={{$json[\"id\"]}}",
              "type": "string"
            },
            {
              "id": "cd03936b-6e2f-48a9-a7a1-afd31401ea44",
              "name": "URL_DESCARGA",
              "value": "={{$json[\"@microsoft.graph.downloadUrl\"]}}",
              "type": "string"
            },
            {
              "id": "1fd837ff-45b4-48af-9232-93f39b0bef31",
              "name": "DRIVE_ID",
              "value": "={{$json[\"parentReference\"][\"driveId\"]}}",
              "type": "string"
            },
            {
              "id": "90ff3a02-b31a-41c3-8660-1f53dfefd3bb",
              "name": "CARPETA_ID",
              "value": "={{$json[\"parentReference\"][\"id\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -700,
        860
      ],
      "id": "23730344-7881-47a9-be37-950c4f8ff55b",
      "name": "EdiciónImagen1"
    },
    {
      "parameters": {
        "url": "={{$json[\"URL_DESCARGA\"]}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -500,
        940
      ],
      "id": "94637003-bb5d-43a7-9637-2e79c4788388",
      "name": "Descarga Archivo",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "oAuth2Api": {
          "id": "h0MhrHGnW5SCKZID",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.name }}",
                    "rightValue": ".jpg",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "dc7ff997-0402-4b12-b6f3-d655991b9ac5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "jpg"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a939d6eb-bcde-4975-bf4c-f2dcb9e3147e",
                    "leftValue": "={{ $json.name }}",
                    "rightValue": ".pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "403c633e-7eea-4654-8fad-debc80c9835e",
                    "leftValue": "={{ $json.name }}",
                    "rightValue": ".msg",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "msg"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -940,
        860
      ],
      "id": "a0ec2b4c-951c-46fb-8ea1-db2eb2eaeee1",
      "name": "Switch1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1580,
        900
      ],
      "id": "ca2cfb41-872d-449a-80df-ca45e09d937c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image\",\n          \"source\": {\n            \"type\": \"base64\",\n            \"media_type\": \"{{ $json.mimeType }}\",\n            \"data\": \"{{ $json.base64 }}\"\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"Extrae todo el texto visible en esta imagen. Mantén el formato original y estructura cuando sea posible. Si hay tablas, mantenlas organizadas.\"\n        }\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "1fb77515-1df4-428f-a6f8-ccf2ab6cc9fe",
      "name": "Claude OCR - Facturas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -40,
        940
      ],
      "credentials": {
        "anthropicApi": {
          "id": "lMcrEsjfTndw8b1i",
          "name": "Anthropic Bacamia"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ocr.space/parse/image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "K81522525488957"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -40,
        1200
      ],
      "id": "d7eaf24d-8c03-41f7-94a7-b3f3a3028195",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const binary = item.binary.data;\n\nreturn {\n  json: {\n    nombreArchivo: binary.fileName,\n    mimeType: binary.mimeType,\n    base64: binary.data,\n    base64Completo: `data:${binary.mimeType};base64,${binary.data}`\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -260,
        940
      ],
      "id": "9a2d0a6d-e2d2-40e9-a049-2e448802e6e5",
      "name": "Code"
    }
  ],
  "connections": {
    "Listar archivos": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EdiciónImagen1": {
      "main": [
        [
          {
            "node": "Descarga Archivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descarga Archivo": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "EdiciónImagen1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Listar archivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude OCR - Facturas": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Claude OCR - Facturas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1cd3f0f3-ebde-4855-9242-100d8d035efd",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-06-03T20:36:49.469Z",
      "updatedAt": "2025-06-03T20:36:49.469Z",
      "id": "E9oSeWOtAViNQ19X",
      "name": "Inverlink"
    },
    {
      "createdAt": "2025-06-21T20:39:27.636Z",
      "updatedAt": "2025-06-21T20:39:27.636Z",
      "id": "XxrfLEy8SmG2KtL4",
      "name": "OCR"
    },
    {
      "createdAt": "2025-06-21T20:39:27.639Z",
      "updatedAt": "2025-06-21T20:39:27.639Z",
      "id": "wClzvw7IdVzfaWq7",
      "name": "Claude"
    }
  ]
}