workflows/Inverlink___carga_conciliados.json
{
  "createdAt": "2025-06-27T21:54:03.011Z",
  "updatedAt": "2025-07-15T15:57:28.751Z",
  "id": "bwp4fSY7Kisusg8w",
  "name": "Inverlink - carga conciliados",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        -60
      ],
      "id": "3cdae736-b3ea-415b-a180-50ca91de8b0c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "worksheet",
        "operation": "readRows",
        "workbook": {
          "__rl": true,
          "value": "01HZVEXTKXTRZDXXGT75AJFCFASOOWAHT2",
          "mode": "list",
          "cachedResultName": "Facturas",
          "cachedResultUrl": "https://inverlink-my.sharepoint.com/personal/ekrypto_inverlink_com/_layouts/15/Doc.aspx?sourcedoc=%7B3B729C57-D3DC-40FF-9288-A0939D601E7A%7D&file=Facturas.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"
        },
        "worksheet": {
          "__rl": true,
          "value": "{00000000-0001-0000-0000-000000000000}",
          "mode": "list",
          "cachedResultName": "Consolidado Facturas",
          "cachedResultUrl": "https://inverlink-my.sharepoint.com/personal/ekrypto_inverlink_com/_layouts/15/Doc.aspx?sourcedoc=%7B3B729C57-D3DC-40FF-9288-A0939D601E7A%7D&file=Facturas.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Consolidado%20Facturas!A1"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.1,
      "position": [
        -340,
        -180
      ],
      "id": "b52a8fc4-6fcd-451b-93ed-b48bae06c7e1",
      "name": "excel facturas",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "UMjXt9SIb2Tb1XTc",
          "name": "Excel Inverlink"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        0,
        -40
      ],
      "id": "fd4c3e5e-cce3-4ec0-98bc-2f7be28237b0",
      "name": "Unión"
    },
    {
      "parameters": {
        "jsCode": "const facturasOriginales = items.filter(i => i.json.hasOwnProperty(\"Monto total cobrado\"));\nconst conciliados = items.filter(i => i.json.hasOwnProperty(\"Valor extracto\"));\n\n// Fecha para la validación\nconst fecha_actual = new Date().toLocaleDateString('es-CO', { year: 'numeric', month: '2-digit', day: '2-digit' }); // Formato \"DD/MM/AAAA\"\n\n// 2. Crear un Set para búsqueda rápida (URL_factura|Valor)\nconst setConciliados = new Set(\n  conciliados.map(c => {\n    // Usar las claves correctas para los objetos conciliados\n    const url = c.json[\"Url factura\"]?.trim();\n    const valor = parseFloat(c.json[\"Valor factura\"]);\n    if (url && !isNaN(valor)) {\n      return `${url}|${valor}`;\n    }\n    return null;\n  }).filter(Boolean) // Eliminar nulos si los hubiera\n);\n\n// 3. Recorrer las facturas originales y marcar como \"Conciliado OK\" si hay coincidencia\nconst resultado = facturasOriginales.map(factura => {\n  // Usar las claves correctas para los objetos de factura\n  const url = factura.json[\"Url factura\"]?.trim();\n  const valor = parseFloat(factura.json[\"Monto total cobrado\"]);\n  \n  // Construir la misma clave para la búsqueda\n  const clave = `${url}|${valor}`;\n\n  // Verificar si la clave existe en el Set\n  const estaConciliado = setConciliados.has(clave);\n\n  return {\n    json: {\n      ...factura.json,\n      // Actualizar el estado basado en la conciliación\n      \"Estado conciliado\": estaConciliado ? \"Conciliado OK\" : \"No conciliado\",\n      \"Fecha conciliación\": estaConciliado ? fecha_actual : \"\",\n      \"Valor conciliado\": estaConciliado ? valor : \"\"\n    }\n  };\n});\n\n// Devuelve el array de objetos para que n8n pueda procesarlo\nreturn resultado;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        180,
        -40
      ],
      "id": "af9cfdac-ee8a-4c1f-834a-889ed9caa38b",
      "name": "Validación conciliados"
    },
    {
      "parameters": {
        "resource": "worksheet",
        "operation": "upsert",
        "workbook": {
          "__rl": true,
          "value": "01HZVEXTKXTRZDXXGT75AJFCFASOOWAHT2",
          "mode": "list",
          "cachedResultName": "Facturas",
          "cachedResultUrl": "https://inverlink-my.sharepoint.com/personal/ekrypto_inverlink_com/_layouts/15/Doc.aspx?sourcedoc=%7B3B729C57-D3DC-40FF-9288-A0939D601E7A%7D&file=Facturas.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"
        },
        "worksheet": {
          "__rl": true,
          "value": "{00000000-0001-0000-0000-000000000000}",
          "mode": "list",
          "cachedResultName": "Consolidado Facturas",
          "cachedResultUrl": "https://inverlink-my.sharepoint.com/personal/ekrypto_inverlink_com/_layouts/15/Doc.aspx?sourcedoc=%7B3B729C57-D3DC-40FF-9288-A0939D601E7A%7D&file=Facturas.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Consolidado%20Facturas!A1"
        },
        "dataMode": "autoMap",
        "columnToMatchOn": "Id factura",
        "options": {
          "updateAll": true
        }
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.1,
      "position": [
        380,
        -40
      ],
      "id": "0b6c9692-1145-4eb5-ab55-3873bffbae50",
      "name": "Actualiza facturas",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "UMjXt9SIb2Tb1XTc",
          "name": "Excel Inverlink"
        }
      }
    },
    {
      "parameters": {
        "resource": "worksheet",
        "operation": "readRows",
        "workbook": {
          "__rl": true,
          "value": "01HZVEXTIWP4G5HEI7J5DYASYQ46DK7OQC",
          "mode": "list",
          "cachedResultName": "Extractos",
          "cachedResultUrl": "https://inverlink-my.sharepoint.com/personal/ekrypto_inverlink_com/_layouts/15/Doc.aspx?sourcedoc=%7BD30D7F16-1F91-474F-804B-10E786AFBA02%7D&file=Extractos.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"
        },
        "worksheet": {
          "__rl": true,
          "value": "{5E9DF66E-126B-40A3-9DE4-62E109BBB106}",
          "mode": "list",
          "cachedResultName": "Conciliados",
          "cachedResultUrl": "https://inverlink-my.sharepoint.com/personal/ekrypto_inverlink_com/_layouts/15/Doc.aspx?sourcedoc=%7BD30D7F16-1F91-474F-804B-10E786AFBA02%7D&file=Extractos.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Conciliados!A1"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.1,
      "position": [
        -340,
        -20
      ],
      "id": "6ce9bffc-3142-4e61-9b39-48070d8b13d3",
      "name": "extracto y factura consolidados",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "UMjXt9SIb2Tb1XTc",
          "name": "Excel Inverlink"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "103d4b70-ec7a-4bf0-b322-75bee09cc9e5",
              "leftValue": "={{ $json[\"Estado conciliado\"] }}",
              "rightValue": "Conciliado OK",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        -180
      ],
      "id": "a69f5493-8a4c-431c-b439-e5493e6f17e4",
      "name": "validación estado conciliado",
      "notes": "Se valida si la factura ya aparece como conciliada"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "excel facturas",
            "type": "main",
            "index": 0
          },
          {
            "node": "extracto y factura consolidados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "excel facturas": {
      "main": [
        [
          {
            "node": "validación estado conciliado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unión": {
      "main": [
        [
          {
            "node": "Validación conciliados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validación conciliados": {
      "main": [
        [
          {
            "node": "Actualiza facturas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extracto y factura consolidados": {
      "main": [
        [
          {
            "node": "Unión",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "validación estado conciliado": {
      "main": [
        [],
        [
          {
            "node": "Unión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "874f6b3f-ddd5-44cf-90bd-6c7a35d5d667",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-06-03T20:36:49.469Z",
      "updatedAt": "2025-06-03T20:36:49.469Z",
      "id": "E9oSeWOtAViNQ19X",
      "name": "Inverlink"
    }
  ]
}